.DS_Store
.idea
*.swp
*.vcd
runs
tt_submission
src/user_config.json
src/config_merged.json
test/sim_build
test/__pycache__/
test/results.xml
test/gate_level_netlist.v
/build
/gds_render*
/src/_tt_fpga_top.v
/tt
